:root {
    --myBlack: #021526;
    --myWhite: #ffffff;
    --myBeige: #E2E2B6;
    --myDarkBlue: #03346E;
    --myLightBlue: #6EACDA;
    --myLightBlue2: #bfefff;
    --myDarkRed: #95292D;
    --myLightRed: #dd3b2f;
}