@import './base.css';
@import './colors.css';

#app {
  /* max-width: 1280px; */
  min-height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  background-color: var(--vt-c-white-mute);
  /* background-color: var(--vt-c-black-mute); */
}

.bigIcon {
  font-size: 1.2rem !important;
}

.p-carousel-item {
  align-content: center;
}
